<mat-drawer-container class="navContainer" autosize>

    <div class="navContent" #b>
      <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <mat-drawer #drawer class="navDrawer" mode="side">
      <ul>
        <li> <button mat-button routerLink="/" > Home </button></li>
        <li> <button mat-button routerLink="/search"> Search</button></li>
        <li> <button mat-button routerLink="/collections"> Collections</button></li>
      </ul>
    </mat-drawer>

</mat-drawer-container>
