<mat-grid-list class="Input" cols="2" rowHeight="120pt">
  <!-- <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.align-items]="'center'">

    <mat-label> {{tile.text}} </mat-label>

    <mat-form-field *ngIf="!tile.multiple && !tile.textArea">
      <input matInput placeholder="{{ 'Enter ' + tile.text}}" [(ngModel)]="tile.text">
    </mat-form-field>


    <mat-form-field *ngIf="tile.textArea">
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="{{ 'Enter' + tile.text }}" [(ngModel)]="tile.text"></textarea>
    </mat-form-field>

      <div *ngIf="tile.multiple">
        <mat-form-field class="chip-list" appearance="fill">
          <mat-chip-grid #chipGrid cdk-scrollable>
            <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)" [editable]="true">
              {{tag}}
              <button matChipRemove [attr.aria-label]="'remove ' + tag">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="New Tag..." #tagInput [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeyCodes" (matChipInputTokenEnd)="add($event)" />
        </mat-form-field>
      </div>
  </mat-grid-tile> -->

  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.align-items]="'center'">

    <mat-label> Title </mat-label>

    <mat-form-field>
      <input matInput placeholder="Enter title" [(ngModel)]="FicTitle">
    </mat-form-field>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1" [style.align-items]="'center'">
    <mat-label> Author </mat-label>

    <mat-form-field>
      <input matInput placeholder="Enter author" [(ngModel)]="FicAuthor">
    </mat-form-field>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.align-items]="'center'">
    <div>
      <mat-form-field class="chip-list" appearance="fill">
        <mat-chip-grid #chipGrid cdk-scrollable>
          <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)" [editable]="true">
            {{tag}}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="New Tag..." #tagInput [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeyCodes" (matChipInputTokenEnd)="add($event)" />
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1" [style.align-items]="'center'">
    <mat-form-field>
      <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Enter summary" [(ngModel)]="FicSummary"></textarea>
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile>
    <button class="submit" mat-button color="primary" (click)="getFanfiction(FicTitle, FicAuthor, FicSummary, tags)">
      Submit
    </button>
  </mat-grid-tile>

    <mat-grid-tile *ngFor="let fic of fic| paginate: {
    itemsPerPage: pageSize,
    currentPage: page,
    totalItems: numOfFics }" colspan="2" rowspan="3" class="Output">
        <mat-card style="width: 70%; margin-left: 20%;" role="article">
          <mat-card-title> {{fic.title}} </mat-card-title>
          <mat-card-subtitle> {{fic.author}} </mat-card-subtitle>
          <mat-chip-listbox>
            <mat-chip-row *ngFor="let tag of fic.tags">
              {{tag}}
            </mat-chip-row>
          </mat-chip-listbox>
          <mat-card-content>
            {{fic.summary}}
          </mat-card-content>
        </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
      <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true" (pageChange)="handlePageChange($event)">

      </pagination-controls>
    </mat-grid-tile>

</mat-grid-list>
